*.o
*.so
*.a

core
/hdf5-1.12.0/**
/Release/**
/ReleaseMPI/**
/Debug/**
/*.dat
/test_5k
/test_5k/**
/test_100k
/test_100k/**
/test_500/**
/Debug/
/Release/
/ReleaseMPI/
/test/
/test_10k/
/test_10k_aws/
/test_CG/
/test_CG2/
/test_atom/
/test_atom_2k/
/test_500/
/ReleaseMPILib/

/lammps-dev/src/lmp_*
/ReleaseLib/
/Default/*
!/Default/makefile
/EminEmax/*
!/EminEmax/makefile
/tests/*
!/tests/makefile
